<navbar-component></navbar-component>

<div class="container">
    
    <form ng-if="$ctrl.isAdmin">
        <div class="form-row">
            <div class="col">
                <input type="text" class="form-control" placeholder="My session name...">
            </div>
            <div class="col">
                <div class="form-group">
                    <select class="form-control">
                        <option>Fibonacci</option>
                        <option>T-Shirt</option>
                        <option>Gamer</option>
                    </select>
                </div>
            </div>
        </div>
    </form>

    <div ng-if="$ctrl.isAdmin">

        <hr>
       
            <h4 class="text-center">All estimations made. Well done!</h4>

            <p class="text-center">
                All participants have estimated all user stories. <br>
                You can run the session again and apply new estimations to the current medians <br>
                or discard the current estimations and start anew.
            </p>

            <div class="list-inline text-center">
                <a 
                    href="#" 
                    class="list-inline-item"
                >
                    Run again
                </a> 
                <p class="list-inline-item">or</p>
                <a 
                    href="#"
                    class="list-inline-item"
                >
                    Run again fresh
                </a>
            </div>
        <hr>

        <a href="#">+ Add another story</a>    

    </div>
   

    

    <div 
        class="card"
        ng-repeat="story in $ctrl.estimatedStories"
    >
        <div class="row">
            <div class="col-10">
                <p> 
                    {{ story.storyContent[$index] }}
                </p>
            </div>
            <div class="col-2">
                <h4>{{ $ctrl.votes[$index].votes }}</h4>
            </div> 
        </div>   
    </div>



</div>

<footer-component></footer-component>
