<navbar-component></navbar-component>

<div class="container">
    
    <div class="list-inline text-center" ng-repeat="session in $ctrl.arrayOfSessions">
        <h4 class="list-inline-item">{{session.sessionName}}</h4>
        <h4 class="list-inline-item"> {{session.selected}}</h4> 
    </div>

    <div ng-if="$ctrl.isAdmin">
    
        <hr>

        <h4 class="text-center">Participants are still estimating...</h4>

        <p class="text-center">
            You can finish the session with current results or abort it.
            Aborting will cause all the estimations to be discarded.
        </p>

        <div class="list-inline text-center">
            <a href="#" class="btn btn-primary list-inline-item">Finish</a>

            <p class="list-inline-item">or</p>

            <a href="#" class="btn btn-primary list-inline-item">Abort</a>
        </div>

        <hr>

    </div>

    <div class="card" ng-repeat="story in $ctrl.storiesToEstimate">
        <div class="row">
            <div class="col-10">
                <p> 
                    {{ story.storyContent[0] }}
                </p>
            </div>
            <div class="col-2">
                <div class="dropdown">
                    <button 
                        class="btn dropdown-toggle" 
                        type="button" 
                        id="dropdownMenuButton" 
                        data-toggle="dropdown" 
                        aria-haspopup="true" 
                        aria-expanded="false">
                        Select Scale
                    </button>
                    <div class="dropdown-menu" 
                        aria-labelledby="dropdownMenuButton" 
                        ng-if="$ctrl.arrayOfSessions[0].selected === 'Fibonacci'"
                    >
                        <a class="dropdown-item" href="#">0</a>
                        <a class="dropdown-item" href="#">1</a>
                        <a class="dropdown-item" href="#">2</a>
                        <a class="dropdown-item" href="#">3</a>
                        <a class="dropdown-item" href="#">5</a>
                        <a class="dropdown-item" href="#">8</a>
                        <a class="dropdown-item" href="#">13</a>
                        <a class="dropdown-item" href="#">20</a>
                        <a class="dropdown-item" href="#">40</a>
                        <a class="dropdown-item" href="#">100</a>
                    </div>
                    <div class="dropdown-menu" 
                        aria-labelledby="dropdownMenuButton" 
                        ng-if="$ctrl.arrayOfSessions[0].selected === 'T-Shirt'"
                    >
                        <a class="dropdown-item" href="#">XS</a>
                        <a class="dropdown-item" href="#">S</a>
                        <a class="dropdown-item" href="#">M</a>
                        <a class="dropdown-item" href="#">L</a>
                        <a class="dropdown-item" href="#">XL</a>
                        <a class="dropdown-item" href="#">XXL</a>
                    </div>
                    <div class="dropdown-menu" 
                        aria-labelledby="dropdownMenuButton" 
                        ng-if="$ctrl.arrayOfSessions[0].selected === 'Gamer'"
                    >
                        <a class="dropdown-item" href="#">Easy</a>
                        <a class="dropdown-item" href="#">Medium</a>
                        <a class="dropdown-item" href="#">Hard</a>
                    </div>
                </div> 
            </div>   
        </div>
    </div>
</div>

<footer-component></footer-component>
