<navbar-component></navbar-component>

<div class="container">
    
    <div class="list-inline text-center" ng-repeat="session in $ctrl.arrayOfSessions">
        <h4 class="list-inline-item">{{session.sessionName}}</h4>
        <h4 class="list-inline-item"> {{session.selected}}</h4> 
    </div>

    <div ng-if="$ctrl.isAdmin">
    
        <hr>

        <h4 class="text-center">Participants are still estimating...</h4>

        <p class="text-center">
            You can finish the session with current results or abort it.
            Aborting will cause all the estimations to be discarded.
        </p>

        <div class="list-inline text-center">
            <a ui-sref="finishedSession({sessionId: $ctrl.arrayOfSessions[0].sessionId})" 
            class="btn btn-primary list-inline-item">Finish</a>

            <p class="list-inline-item">or</p>

            <a ui-sref="creatingANewSession" 
            class="btn btn-primary list-inline-item">Abort</a>
        </div>

        <hr>

    </div>

    <div class="card" ng-repeat="story in $ctrl.storiesToEstimate" ng-if="!$ctrl.isAdmin">
        <div class="row">
            <div class="col-10">
                <p> 
                    {{ story.storyContent[0] }}
                </p>
            </div>
            <div class="col-2">
                <div 
                    uib-dropdown
                    dropdown-append-to-body
                >
                    <a 
                        class="btn"
                        uib-dropdown-toggle
                        id="dynamic-dropdown"
                        href="#"     
                    >
                        Select Scale
                    </a>
                    <ul 
                        ng-if="$ctrl.arrayOfSessions[0].selected === 'Fibonacci'"
                        uib-dropdown-menu 
                        aria-labelledby="dynamic-dropdown"
                        class="dropdown-menu"
                        role="menu"
                    >
                        <li role="menuitem" ng-click="$ctrl.selectedValue(0)">0</li>
                        <li role="menuitem" ng-click="$ctrl.selectedValue(1)">1</li>
                        <li role="menuitem" ng-click="$ctrl.selectedValue(2)">2</li>
                        <li role="menuitem" ng-click="$ctrl.selectedValue(3)">3</li>
                        <li role="menuitem" ng-click="$ctrl.selectedValue(5)">5</li>
                        <li role="menuitem" ng-click="$ctrl.selectedValue(8)">8</li>
                        <li role="menuitem" ng-click="$ctrl.selectedValue(13)">13</li>
                        <li role="menuitem" ng-click="$ctrl.selectedValue(20)">20</li>
                        <li role="menuitem" ng-click="$ctrl.selectedValue(40)">40</li>
                        <li role="menuitem" ng-click="$ctrl.selectedValue(100)">100</a>
                    </ul>
                    <ul
                        ng-if="$ctrl.arrayOfSessions[0].selected === 'T-Shirt'"
                        uib-dropdown-menu 
                        aria-labelledby="dynamic-dropdown"
                        role="menu"
                    >
                        <li role="menuitem" ng-click="$ctrl.selectedValue('XS')">XS</li>
                        <li role="menuitem" ng-click="$ctrl.selectedValue('S')">S</li>
                        <li role="menuitem" ng-click="$ctrl.selectedValue('M')">M</li>
                        <li role="menuitem" ng-click="$ctrl.selectedValue('L')">L</li>
                        <li role="menuitem" ng-click="$ctrl.selectedValue('XL')">XL</li>
                        <li role="menuitem" ng-click="$ctrl.selectedValue('XXL')">XXL</li>
                    </ul>
                    <ul
                        ng-if="$ctrl.arrayOfSessions[0].selected === 'Gamer'"
                        uib-dropdown-menu
                        aria-labelledby="dynamic-dropdown"
                        role="menu"
                    >
                        <li role="menuitem" ng-click="$ctrl.selectedValue('Easy')">Easy</li>
                        <li role="menuitem" ng-click="$ctrl.selectedValue('Medium')">Medium</li>
                        <li role="menuitem" ng-click="$ctrl.selectedValue('Hard')">Hard</li>
                    </ul>
                </div> 
            </div>   
        </div>
    </div>
    <div class="text-center">
        <a
            ng-if="!$ctrl.isAdmin" 
            class="btn btn-primary"
            ui-sref="finishedSession({sessionId: $ctrl.arrayOfSessions[0].sessionId})"
        >
            Finish Voting
        </a>
    </div>
</div>

<footer-component></footer-component>
